/******************************************************************

Stylesheet: 600px以上のモニタで適用

******************************************************************/


.c-txt-sm {
  font-size: 1.1rem;
}

.c-txt-xs {
  font-size: .8rem;
}

.c-txtarea {
  padding: 3vw;
}

.c-container {
  padding: 0 10vw;
}

.c-img {
  margin: 0 -10vw;

  & img {
    height: 45vh;
  }
}

//header
.header {
  & .sp-navbtn {
    display: none;
  }

  & .logo__img {
    & .logo {
      margin-top: 3.5vw;
      height: 57px;
      width: 146px;
    }
  }

  & .mobile-container {
    height: 80px;

    & .mobile-button {
      top: 32px;
      right: 55px;
    }
  }
}

//#top
.p-top {
  padding-bottom: 10vw;

  & .swiper-container {
    height: 100vh;
  }

  & .scrolldown {
    font-size: 16px;
    bottom: -70px;
  }
}

//#info 
.p-info {
  margin-bottom: 0vw;

  &__time {
    display: flex;
    justify-content: space-between;

    & div {
      width: 33%;
    }
  }
}

//#concept
.p-concept {
  .c-img {
    width: 70%;

    & img {
      height: 45vh;
    }

  }

  .c-txtarea {
    top: 8%;
    left: 30vw;

    & .ja {
      font-size: .8rem;
    }
  }

  .p-speciality {
    margin-top: 30vw;

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__item {
      width: 46%;

      & img {
        height: 300px;
      }
    }

    &__subtit {
      font-size: 1rem;
      margin: 3vw 0;
    }

    &__txt {
      font-size: .8rem;
    }
  }
}

//#instagram
.p-insta {
  &__img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & img {
      width: 50%;
    }
  }
}

//#menu
.p-menu {
  padding-bottom: 12vw;

  & .view-pc {
    display: none;
  }

  & .menu-contents {
    padding: 5vw 0 0 0;

    & .menu-title {
      padding-bottom: 10vw;

      & p {
        font-size: .9rem;
      }
    }

    & .tab-group {
      margin-bottom: 4vw;
      font-size: 1.4rem;
    }

    & .panel {

      & p,
      span,
      h3 {
        font-size: 1.2rem;
      }
    }

    & .lunch {
      &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &__item {
        width: 50%;
      }
    }

    & .dinner {
      &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &__txt {
        width: 50%;
        padding-bottom: 5vw;
      }
    }

    & .drink {
      &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &__item {
        width: 50%;
        padding-bottom: 6vw;
      }

      & .c-drink {
        padding-top: 2vw;
      }
    }

    & .lunch__photo {
      height: 300px;
      padding: 4vw 8vw;
    }
  }
}

//#access
.p-access {
  padding-bottom: 10vw;

  & .c-img {
    width: 80%;
  }

  .c-title {
    top: 6%;
  }

  .c-txtarea {
    top: 16%;
    left: 50vw;
    padding: 4vw;

    & .ja {
      font-size: 1.1rem;
    }

  }

  & iframe {
    padding: 20px;
    width: 400px;
    height: 300px;
  }

  &__gmap {
    margin-top: 0;
  }

  .g-map {
    &__wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

//#news
.p-news {
  padding-bottom: 15vw;

  &__item {
    padding: 3vw 5vw;
  }
}

//.c-news 
.c-news {
  &__link {
    padding: 4vw 0;
  }
}