/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.c-txt-lr {
  font-size: 3rem;
  letter-spacing: 10px;
}

.c-txt-md {
  font-size: 1.4rem;
  letter-spacing: 5px;
}

.c-txt-sm {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.c-txt-xs {
  font-size: 1.2rem;
}

.view-more__link {
  & span {
    font-size: 1.6rem;
  }
}

.c-container {
  padding: 0 15vw;
}

.c-img {
  margin: 0 -10vw;
}

.c-title {
  span {
    font-size: 2rem;
  }
}

.c-title02 {
  & span {
    font-size: 34px;
  }
}

//#header
.header {
  height: auto;
  width: 100%;

  & .logo__img {
    & .logo {
      margin: 0 20px 0 5vw;
      width: 190px;
      height: 70px;
    }
  }

  & .mobile-container {
    display: none;
  }

  & .pc-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    display: flex;
    justify-content: space-between;
    padding: 4vw 10vw 0 0;
    width: 100%;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid #242424;

    & .pc-nav {
      padding-top: 4px;

      &-list {
        display: flex;
        justify-content: flex-end;
      }

      &-item {
        font-size: 1.6rem;
        padding-left: 5vw;

        & a {
          color: $cBlack;
        }
      }

      &.inview {
        & .pc-nav-item {
          & a {
            color: #fff;
          }
        }
      }
    }
  }
}

//#top 
.p-top {
  padding-bottom: 10vw;

  & .swiper-container {
    height: 100vh;

    & .swiper-slide {
      height: 100vh;
    }
  }

  & .scrolldown {
    font-size: 20px;
    bottom: 1vw;
    left: 48vw;

    &::before {
      height: 120px;
      bottom: -35px;
      width: 2px;
    }
  }

  &__txtarea {
    padding: 5vw;

    & .main {
      & p {
        font-size: 4rem;
      }
    }
  }

  & .view-pc {
    display: none;
  }
}

//#concept 
.p-concept {
  & .c-img {
    width: 80%;
  }

  & .c-txtarea {
    top: 8vw;
    left: 45vw;

    & .ja {
      font-size: 1.1rem;
    }
  }

  & .p-speciality {
    margin-top: 12vw;

    &__subtit {
      font-size: 1.2rem;
    }

    &__txt {
      font-size: 1rem;
    }
  }
}

//#news 
.p-news {
  padding-top: 5vw;

  &__tit {
    margin-bottom: 7vw;
  }

  &__link {
    padding: 4vw 0;
    font-size: 1.2rem;
  }
}

//#instagram
.p-instagram {
  padding-bottom: 20vw;

  &__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & img {
      width: 50%;
      border: 10px solid #fff;
    }

    & .photo4 {
      margin-top: 17px;
    }

    & .photo2 {
      margin-top: 17px;
      order: 1;
    }
  }
}

//#menu
.p-menu {
  & .c-img {
    width: 80%;
  }

  & .menu-contents {
    padding: 15vw 0 5vw 0;

    & .tab-group {
      font-size: 1.4rem;
    }

    & .panel {

      & p,
      span,
      h3 {
        font-size: 1.2rem;
      }
    }

    & .menu-title {
      position: absolute;
      top: 10vw;
      right: 0;
      background-color: #f8f5f5;
      padding: 4vw;
      margin-right: 5vw;
      box-shadow: 3px 3px 3px #ebebeb;
      width: 40%;
      z-index: 200;

      & p {
        font-size: 1.1rem;
      }
    }
  }
}

//#news
.p-news {
  &__tit {
    padding-top: 3vw;
    margin-bottom: 1vw;
  }

  &__item {
    padding: 3vw 3vw;
  }
}

//#info
.p-info {
  margin-bottom: 10vw;

  &__time {
    padding-bottom: 0;
  }

  & h3 {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  & .page-link {
    font-size: 1.5rem;
  }

  & .icon-insta {
    font-size: 1.8rem;
    padding-bottom: 20px;

    &::before {
      left: 20px;
      top: 8px;
      height: 30px;
      width: 30px;
    }
  }

}

//footer
.footer {
  & .c-logo {
    text-align: center;

    & img {
      height: 50px;
      width: 160px;
    }
  }

  &__info {
    margin: 0 -5vw;

    & .nav-address {
      text-align: left;
    }

    & ul {
      display: flex;

      & li {
        width: 48%;
        text-align: center;
      }

      & .nav-time {
        display: block;
        order: 1;
      }
    }
  }

  & .copyright {
    text-align: center;
  }
}

//mobile-menu
.mobile-menu {
  &__ul {
    padding-top: 30vw;
  }
}

//* *  * * * * * * * menu-page * * * * * * * * * * 
.c-top {
  margin-top: 5vw;

  &__tit {
    font-size: 3rem;
  }

  &__img {
    text-align: center;

    & img {
      height: 50%;
      width: 50%;
    }
  }
}

//* * * * * * news-page * * * * * * *
.c-news {
  & .c-txt-lr {
    font-size: 2.2rem;
  }

  &__list {
    & a {
      padding: 3vw 0 5vw 3vw;
    }
  }

  &__date {
    font-size: 1.4rem;
  }

  &__tit {
    font-size: 1.2rem;
  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {
  padding-top: 200px;

  & .c-container {
    padding: 0 12vw;
  }

  &__list {
    padding-top: 6vw;
  }

  &__contents {
    padding: 8vw 0;
  }

  &__tit {
    & p {
      font-size: 1.6rem;
    }
  }

  &__date {
    font-size: 1.6rem;
  }

  & .c-txt-sm {
    font-size: 1.2rem;
    line-height: 3;
  }

  & .readmore {
    font-size: 1.4rem;
  }
}